<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="LogFile" xsi:type="File" maxArchiveFiles="10" archiveAboveSize="102400" fileName="logs\${shortdate}.log"
				layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${level:uppercase=true}] [${threadid}] [${logger}] - ${message}" />
		<target name="LogFileTrace" xsi:type="File" maxArchiveFiles="10" archiveAboveSize="102400" fileName="logs\${shortdate}trace.log"
				layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${level:uppercase=true}] [${threadid}] [${logger}] - ${message}" />
		<target name="LogConsole" xsi:type="Console"
				layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${level:uppercase=true}] [${threadid}] [${logger}] - ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="LogFile" />
		<logger name="*" minlevel="Warn" writeTo="LogFileTrace" />
		<logger name="*" minlevel="Debug" writeTo="LogConsole" />
	</rules>
</nlog>